* {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: aliceblue;
}

body{
  background-color: #21232a;
  padding: 60px;
}

button{
  font-size: 1.2rem;
  color: #21232a;
    
}

input{
  width: 100%;
  font-size: 1.2rem;
  color: #21232a;
}
